# Name: FFmpeg_FrameRecorder
# Author: Stanislav Chizhik
# Version: 0.1.0-SNAPSHOT

# ImageJ plugin which allows 
# saving a stack as compressed video file 
# Export is done with FFmpeg library and uses org.bytedeco.javacv.FFmpegFrameR class,
# a part of javacv package (java interface to OpenCV, FFmpeg and other) by Samuel Audet.


File>Save As>, "Compressed AVI using FFmpeg...",ffmpeg_video_export.FFmpeg_FrameRecorder("")
